.events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.events-container h1 {
    color: lightgrey;
    font-size: 2em;
    text-align: center;

    margin: 10px 0px 25px 0px;
}

.event {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;

    /* underline */
    border-bottom: 1px solid lightgrey;
}

.event-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 100%;
}

.event-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.event h2 {
    width: 100%;
    color: lightgrey;
    font-size: 1em;
    text-align: center;

    margin: 10px 5px 10px 5px;
}

.event h3 {
    width: 100%;
    color: lightgrey;
    font-size: 1em;
    text-align: center;

    margin: 10px 5px 10px 5px;
}

.event-header a {
    color: lightgrey;
    text-decoration: underline;
    width: 100%; 
}
