.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

    background-color: lightgrey;
}

.footer h2 {
    color: black;
    font-size: 0.8em;

    margin: 8px 0px 8px 0px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer img {
    width: 45px;
    height: auto;
    object-fit: cover;

    margin: 20px;
}